# Loading Packages

In [3]:
import pandas as pd 
import numpy as np                     # For mathematical calculations 
import seaborn as sns                  # For data visualization 
import matplotlib.pyplot as plt  # For plotting graphs 
%matplotlib inline 
import warnings   # To ignore any warnings warnings.filterwarnings("ignore")

# Reading data

In [2]:
data = pd.read_csv('Transformed_Housing_Data2.csv')
data.head()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0

# Understanding Data

In [4]:
#check the features present in our data
data.columns

Index(['Sale_Price', 'No of Bedrooms', 'No of Bathrooms',
       'Flat Area (in Sqft)', 'Lot Area (in Sqft)', 'No of Floors',
       'No of Times Visited', 'Overall Grade',
       'Area of the House from Basement (in Sqft)', 'Basement Area (in Sqft)',
       'Age of House (in Years)', 'Latitude', 'Longitude',
       'Living Area after Renovation (in Sqft)',
       'Lot Area after Renovation (in Sqft)', 'Years Since Renovation',
       'Condition_of_the_House_Excellent', 'Condition_of_the_House_Fair',
       'Condition_of_the_House_Good', 'Condition_of_the_House_Okay',
       'Ever_Renovated_Yes', 'Waterfront_View_Yes',
       'Zipcode_Group_Zipcode_Group_1', 'Zipcode_Group_Zipcode_Group_2',
       'Zipcode_Group_Zipcode_Group_3', 'Zipcode_Group_Zipcode_Group_4',
       'Zipcode_Group_Zipcode_Group_5', 'Zipcode_Group_Zipcode_Group_6',
       'Zipcode_Group_Zipcode_Group_7', 'Zipcode_Group_Zipcode_Group_8',
       'Zipcode_Group_Zipcode_Group_9'],
      dtype='object')

In [5]:
# the shape of the dataset.
data.shape

(21609, 31)

### Q1:   Find out statistical information about features using describe function in the dataset?

In [6]:
data.describe()

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
count,2.160900e+04,21609.000000,21609.000000,21609.000000,2.160900e+04,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,...,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000,21609.000000
mean,5.116186e+05,3.370771,2.114709,2079.872553,1.510641e+04,1.494215,0.234347,7.623490,1788.319589,291.513490,...,0.007543,0.109399,0.188625,0.149706,0.186681,0.043824,0.076450,0.012449,0.027720,0.002314
std,2.500620e+05,0.929916,0.770097,918.347816,4.142353e+04,0.539909,0.766382,1.105519,827.977604,442.570991,...,0.086525,0.312146,0.391220,0.356791,0.389665,0.204709,0.265722,0.110879,0.164173,0.048048
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,1.000000,290.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.219500e+05,3.000000,1.750000,1430.000000,5.040000e+03,1.000000,0.000000,7.000000,1190.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.619000e+03,1.500000,0.000000,7.000000,1560.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068700e+04,2.000000,0.000000,8.000000,2210.000000,560.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.129575e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,4.000000,10.000000,9410.000000,4820.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

### Q2: Find out the number of missing values for each feature in the dataset ?

In [7]:
data.info()
#No missing values as all 21609 values are non-null value

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21609 entries, 0 to 21608
Data columns (total 31 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Sale_Price                                 21609 non-null  float64
 1   No of Bedrooms                             21609 non-null  int64
 2   No of Bathrooms                            21609 non-null  float64
 3   Flat Area (in Sqft)                        21609 non-null  float64
 4   Lot Area (in Sqft)                         21609 non-null  float64
 5   No of Floors                               21609 non-null  float64
 6   No of Times Visited                        21609 non-null  int64
 7   Overall Grade                              21609 non-null  int64
 8   Area of the House from Basement (in Sqft)  21609 non-null  float64
 9   Basement Area (in Sqft)                    21609 non-null  int64
 10  Age of House (in Years)                    21609 non-null  int64
 11  Latitude                                   21609 non-null  float64
 12  Longitude                                  21609 non-null  float64
 13  Living Area after Renovation (in Sqft)     21609 non-null  float64
 14  Lot Area after Renovation (in Sqft)        21609 non-null  int64
 15  Years Since Renovation                     21609 non-null  int64
 16  Condition_of_the_House_Excellent           21609 non-null  int64
 17  Condition_of_the_House_Fair                21609 non-null  int64
 18  Condition_of_the_House_Good                21609 non-null  int64
 19  Condition_of_the_House_Okay                21609 non-null  int64
 20  Ever_Renovated_Yes                         21609 non-null  int64
 21  Waterfront_View_Yes                        21609 non-null  int64
 22  Zipcode_Group_Zipcode_Group_1              21609 non-null  int64
 23  Zipcode_Group_Zipcode_Group_2              21609 non-null  int64
 24  Zipcode_Group_Zipcode_Group_3              21609 non-null  int64
 25  Zipcode_Group_Zipcode_Group_4              21609 non-null  int64
 26  Zipcode_Group_Zipcode_Group_5              21609 non-null  int64
 27  Zipcode_Group_Zipcode_Group_6              21609 non-null  int64
 28  Zipcode_Group_Zipcode_Group_7              21609 non-null  int64
 29  Zipcode_Group_Zipcode_Group_8              21609 non-null  int64
 30  Zipcode_Group_Zipcode_Group_9              21609 non-null  int64
dtypes: float64(9), int64(22)
memory usage: 5.1 MB

### Q3: If sales price is greater/less than 2 standard deviation from the mean sale price then delete such rows?
* How the shape of data will change after removing these values ?

In [8]:
q1=data['Sale_Price'].quantile(.25)
q1

321950.0

In [9]:

q3=data['Sale_Price'].quantile(.75)
q3

645000.0

In [10]:
iqr=q3-q1
iqr

323050.0

In [11]:
upperlimit=q3+1.5*iqr
lowerlimit=q1-1.5*iqr
(lowerlimit,upperlimit)

(-162625.0, 1129575.0)

In [12]:
count=0
def limit_imputer(value):
    if value>upperlimit :
        count=count+1
        return np.nan
    if value<lowerlimit :
        count=count+1
        return np.nan
    else :
        return value

In [15]:
data['Sale_Price']=data['Sale_Price'].apply(limit_imputer)

In [14]:
print("Before deleting outliers length = " , (len(data['Sale_Price'])))                
target_mean = data['Sale_Price'].mean()
target_mean

Before deleting outliers length =  21609

511618.55814706837

In [16]:
target_sd = data['Sale_Price'].std()
target_sd

250062.01350117987

In [17]:
print("After deleting outliers length = " ,  ((len(data['Sale_Price']))-count))
data

After deleting outliers length =  21609

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21604,360000.0,3,2.50,1530.0,1131.0,3.0,0,8,1530.0,0,...,0,0,0,1,0,0,0,0,0,0
21605,400000.0,4,2.50,2310.0,5813.0,2.0,0,8,2310.0,0,...,0,1,0,0,0,0,0,0,0,0
21606,402101.0,2,0.75,1020.0,1350.0,2.0,0,7,1020.0,0,...,0,0,0,1,0,0,0,0,0,0
21607,400000.0,3,2.50,1600.0,2388.0,2.0,0,8,1600.0,0,...,0,0,0,0,1,0,0,0,0,0
21608,325000.0,2,0.75,1020.0,1076.0,2.0,0,7,1020.0,0,...,0,0,0,1,0,0,0,0,0,0

In [52]:
#As count is 0 there is no outlier in the dataset

### Q4: Divide the features into Numerical and Categorical type ?

In [18]:
Numerical_Type = data.select_dtypes(include=[np.number])
Numerical_Type

,Sale_Price,No of Bedrooms,No of Bathrooms,Flat Area (in Sqft),Lot Area (in Sqft),No of Floors,No of Times Visited,Overall Grade,Area of the House from Basement (in Sqft),Basement Area (in Sqft),...,Waterfront_View_Yes,Zipcode_Group_Zipcode_Group_1,Zipcode_Group_Zipcode_Group_2,Zipcode_Group_Zipcode_Group_3,Zipcode_Group_Zipcode_Group_4,Zipcode_Group_Zipcode_Group_5,Zipcode_Group_Zipcode_Group_6,Zipcode_Group_Zipcode_Group_7,Zipcode_Group_Zipcode_Group_8,Zipcode_Group_Zipcode_Group_9
0,221900.0,3,1.00,1180.0,5650.0,1.0,0,7,1180.0,0,...,0,0,0,0,0,0,0,0,0,0
1,538000.0,3,2.25,2570.0,7242.0,2.0,0,7,2170.0,400,...,0,0,1,0,0,0,0,0,0,0
2,180000.0,2,1.00,770.0,10000.0,1.0,0,6,770.0,0,...,0,0,1,0,0,0,0,0,0,0
3,604000.0,4,3.00,1960.0,5000.0,1.0,0,7,1050.0,910,...,0,0,0,1,0,0,0,0,0,0
4,510000.0,3,2.00,1680.0,8080.0,1.0,0,8,1680.0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21604,360000.0,3,2.50,1530.0,1131.0,3.0,0,8,1530.0,0,...,0,0,0,1,0,0,0,0,0,0
21605,400000.0,4,2.50,2310.0,5813.0,2.0,0,8,2310.0,0,...,0,1,0,0,0,0,0,0,0,0
21606,402101.0,2,0.75,1020.0,1350.0,2.0,0,7,1020.0,0,...,0,0,0,1,0,0,0,0,0,0
21607,400000.0,3,2.50,1600.0,2388.0,2.0,0,8,1600.0,0,...,0,0,0,0,1,0,0,0,0,0
21608,325000.0,2,0.75,1020.0,1076.0,2.0,0,7,1020.0,0,...,0,0,0,1,0,0,0,0,0,0

In [19]:
Catagorical_Type = data.select_dtypes(exclude=[np.number])
Catagorical_Type

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[21609 rows x 0 columns]

In [ ]:
#All are Numerical Data type .None of the data type are Catagorical

### Q5: Fill the correct values for creating heatmap representing the correlation from the data?

In [ ]:
def correlation_heatmap(data):
    _, ax = plt.subplots(figsize = (25, 20))
    colormap= sns.diverging_palette(220, 10, as_cmap = True)
    ??

correlation_heatmap(??)

### Segregating variables - Dependent & Independent

In [30]:
#seperating independent and dependent variables

data_x = data.drop(['Sale_Price'], axis=1)
data_y = data['Sale_Price']

### Q6: Which of these following will lead to right formations of train, test and validation set ?

In [35]:
from sklearn.model_selection import train_test_split as tts

* A

In [32]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.2 , random_state = 50)
train_x, val_x, train_y, val_y = tts(data_x, data_y, test_size = 0.2 , random_state = 51)

* B

In [16]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.6 , random_state = 50)
train_x, val_x, train_y, val_y = tts(data_x, data_y, test_size = 0.6 , random_state = 51)

* C

In [17]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.6 , random_state = 50)
train_x, val_x, train_y, val_y = tts(train1_x, train1_y, test_size = 0.6 , random_state = 51)

* D

In [18]:
train1_x, test_x , train1_y, test_y = tts( data_x, data_y , test_size = 0.2 , random_state = 50)
train_x, val_x, train_y, val_y = tts(train1_x, train1_y, test_size = 0.2 , random_state = 51)

Ans : A is the right answer as in B ,C text size ratio is nearly 0.5 due to which it algorithm wrongly predict the testdata . It is industrial convention to take enough train size ratio of about 0.3.  D option is wrong because there is train_x, train_y instead of data_x,data_y.

### Q7 : What is wrong with this code for scaling the data ?

In [37]:
from sklearn.model_selection import train_test_split
train_x,test_x,train_y,test_y = train_test_split(data_x,data_y, random_state = 86)

from sklearn import preprocessing
ss = preprocessing.StandardScaler()
train_x = ss.fit_transform(train_x)
test_x = ss.fit_transform(test_x)

In [38]:
train_x

array([[-0.39333179, -1.44419578, -1.15563293, ..., -0.11346806,
        -0.16568638, -0.04585193],
       [-1.46123847, -0.14485854, -1.02413045, ..., -0.11346806,
        -0.16568638, -0.04585193],
       [ 0.67457489, -0.46969285, -0.38853514, ..., -0.11346806,
        -0.16568638, -0.04585193],
       ...,
       [-0.39333179, -1.44419578, -1.04604753, ..., -0.11346806,
        -0.16568638, -0.04585193],
       [-1.46123847, -1.44419578, -1.34192811, ..., -0.11346806,
        -0.16568638, -0.04585193],
       [-0.39333179, -0.46969285, -0.39949368, ..., -0.11346806,
        -0.16568638, -0.04585193]])

In [39]:
test_x

array([[-4.15507540e-01, -1.61240881e-01, -4.23212432e-01, ...,
        -1.08617461e-01, -1.78038021e-01, -5.44987453e-02],
       [ 6.83360419e-01, -4.85342251e-01,  1.75516329e-01, ...,
        -1.08617461e-01,  5.61677779e+00, -5.44987453e-02],
       [ 6.83360419e-01, -4.85342251e-01,  4.10731199e-01, ...,
        -1.08617461e-01, -1.78038021e-01, -5.44987453e-02],
       ...,
       [ 1.78222838e+00,  1.13516460e+00,  4.45096838e-03, ...,
        -1.08617461e-01, -1.78038021e-01, -5.44987453e-02],
       [-4.15507540e-01, -1.61240881e-01,  1.86207914e-01, ...,
        -1.08617461e-01, -1.78038021e-01, -5.44987453e-02],
       [ 6.83360419e-01,  4.86961858e-01, -2.84221827e-01, ...,
        -1.08617461e-01, -1.78038021e-01, -5.44987453e-02]])

Ans :

In [ ]:
# ss = preprocessing.StandardScaler()